<html>

<h2> Welcome to the Music App </h2>

<p>  I dont know what i'm going display here yet, but I bet it will be largely funded by advertisements for shitty Justin Bieber or Lady Gaga Music. </p>

  <p> Give the kids what they want! </p>

</html>